.credit {
  overflow: hidden;
  background-image: url('../img/bg-credit.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;

  .container {
    padding-top: 110px;
    padding-bottom: 170px;

    @include max(1024) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}

.credit__title {
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 75px;
  padding-right: 100px;
  color: #141414;

  @include responsive-font(50, 30);
  @include max(1024) {
    margin-bottom: 45px;
  }
}

.credit__slider {
  .slick-list {
    overflow: visible;
  }

  .slick-track {
    display: flex;
  }

  .prev,
  .next {
    position: absolute;
    z-index: 5;
    top: -120px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all .5s;
    border: 2px solid $brand;
    border-radius: 50%;
    background-color: transparent;

    @include max(1024) {
      top: -80px;
    }

    &:hover {
      background-color: $brand;

      svg {
        stroke: #fff;
      }
    }

    svg {
      fill: none;
      stroke: $brand;
      stroke-width: 2px;
      width: 11px;
      height: 11px;
      transition: all .5s;
    }
  }

  .prev {
    right: 50px;

    svg {
      transform: translateX(1px);
    }
  }

  .next {
    right: 0;

    svg {
      transform: translateX(-1px);
    }
  }
}

.credit-slide {
  display: flex !important;
  align-items: flex-start;
  flex-direction: column;
  height: auto;
  margin-right: 20px;
  padding: 30px 26px;
  background-color: #fff;
}

.credit-slide__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.37;
  margin-bottom: 30px;
  color: #141414;
}

.credit-slide__label {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  margin-top: -14px;
  margin-bottom: 27px;
  padding: 7px 19px;
  text-align: center;
  color: #4a7755;
  background-color: #d5ecdb;
}

.credit-slide__list {
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;
}

.credit-slide__item {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.67;
  position: relative;
  padding-left: 20px;
  color: #646464;

  strong {
    font-weight: bold;
  }

  &::before {
    position: absolute;
    top: 9px;
    left: 0;
    width: 6px;
    height: 6px;
    content: '';
    border-radius: 50%;
    background-color: $brand;
  }
}

.credit-slide__btn {
  width: 100%;
  margin-top: auto;
}
