#footer-map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  margin: auto;
}

.footer {
  position: relative;

  &::before {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 100%;
    content: '';
    background-color: #4a7755;
  }

  .container {
    z-index: 10;
    pointer-events: none;
  }
}


.footer__left {
  width: 50%;
  padding-top: 120px;
  padding-right: 70px;
  padding-bottom: 40px;
  pointer-events: auto;
}

.footer__title {
  font-size: 33px;
  font-weight: 600;
  line-height: 45px;
  margin-bottom: 45px;
  color: #fff;
}

.footer__adress,
.footer__schedule {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  color: #fff;
}

.footer__schedule {
  margin-bottom: 25px;
}

.footer__contacts {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.footer__phone {
  font-size: 30px;
  font-weight: bold;
  line-height: 41px;
  margin-right: 20px;
  white-space: nowrap;
  color: #fff;
}

.footer__socials {
  display: flex;
  align-items: center;
}

.footer__social {
  flex: none;
  margin-right: 20px;

  svg {
    fill: #fff;
  }
}

.footer__social--whatsapp svg {
  width: 30px;
  height: 30px;
}

.footer__social--inst svg {
  width: 30px;
  height: 30px;
}

.footer__social--fb svg {
  width: 16px;
  height: 30px;
}

.footer__social--youtube svg {
  width: 35px;
  height: 24px;
}

.footer__btn {
  min-width: 220px;
  margin-bottom: 85px;
  color: #4a7755;
  border: 2px solid #fff;
  background-color: #fff;

  &:hover {
    color: #fff;
    background-color: transparent;
  }
}

.footer__descr {
  display: flex;
  align-items: center;
  margin-bottom: 95px;
}

.footer__logo {
  flex: none;
  width: 150px;
  margin-right: 50px;

  img {
    display: block;
    width: 100%;
  }
}

.footer__descr-text {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  color: #fff;
}

.footer__copyright {
  font-size: 14px;
  font-weight: 300;
  opacity: .5;
  color: #fff;
}
