.header {
  top: 0;
  right: 0;
  width: 100%;
  padding: 10px 0;
  background-color: transparent;
  transition: .5s;
    position: fixed;
  z-index: 10;
  &.is-scroll{
    background-color: #223927;
  }

  @include max(767) {
    padding: 15px 0;
    background-color: #f5f5f5;
    z-index: 10;
    &.is-scroll{
    background-color: #f5f5f5;

    }
  }

  .container {
    display: flex;
    align-items: center;
  }
}

.header__logo {
  display: none;
  flex: none;
  margin-right: 20px;

  @include max(767) {
    display: block;
  }

  img {
    display: block;
    width: 40px;
    height: 40px;
  }
}

.header__burger {
  position: relative;
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;

  @include max(767) {
    display: block;
  }

  &::before,
  &::after {
    position: absolute;
    left: 0;
    height: 2px;
    content: '';
    transition: all .5s ease;
    background-color: $brand;
  }

  &::before {
    top: 8px;
    width: 30px;
  }

  &::after {
    bottom: 8px;
    width: 20px;
  }

  &.active {
    &::before {
      top: 14px;
      width: 20px;
      transform: rotate(45deg);
    }

    &::after {
      bottom: 14px;
      transform: rotate(-45deg);
    }
  }
}

//begin #MENU
.menu {
  margin-right: auto;

  @include max(1500) {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu__item {
  padding-right: 32px;
  list-style: none;
}

.menu__link {
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  line-height: 23px;
  color: #fff;
}

//end #MENU

//begin #RIGHT
.header__right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header__phone {
  display: flex;
  align-items: center;
}

.header__phone-text {
  font-weight: bold;
  line-height: 27px;
  white-space: nowrap;
  color: #fff;

  @include responsive-font(20, 18);

  @include max(767) {
    color: #141414;
  }
}

.header__phone-whatsapp {
  flex: none;
  margin-left: 10px;

  svg {
    fill: #fff;
    width: 20px;
    height: 20px;

    @include max(767) {
      fill: $brand;
    }
  }
}

.header__btn {
  flex: none;
  min-width: 200px;
  margin-left: 30px;

  @include max(767) {
    display: none;
  }

  &:hover {
    color: #fff;
    background-color: #4a7755;
  }
}

.header__sale {
  display: flex;
  align-items: center;
  margin-left: 30px;
  cursor: pointer;

  @include max(767) {
    display: none;
  }
}

.header__sale-icon {
  flex: none;
  margin-right: 8px;

  svg {
    fill: #fff;
    width: 19px;
    height: 16px;
  }
}

.header__sale-text {
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  color: #fff;
}

//end #RIGHT
