mixin slide
  .choice__slider-item
    //begin choice__left
    .choice__left
      //begin choice__body
      .choice__body
        .choice__floor-btns
          .choice__floor-btns-title этаж
          button.choice__floor-btn.btn 4 <span>этаж</span>
          button.choice__floor-btn.btn 3 <span>этаж</span>
          button.choice__floor-btn.btn 2 <span>этаж</span>
          button.choice__floor-btn.btn.active 1 <span>этаж</span>

        //begin choice__floor
        .choice__floor
          svg(width='302' height='232' viewBox='0 0 302 232' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M141.652 192.315V200.564H164.441V228.137H179.32V173.895H164.441V169.375H137.697V184.066H145.871V192.315H141.652Z' fill='white' stroke='#C8C8C8')
            path(d='M124.513 192.315V169.375H97.769V173.895H82.8901V228.137H97.769V200.564H113.062V192.315H124.513Z' fill='white' stroke='#C8C8C8')
            path(d='M145.871 192.315V184.066H137.697V169.375H124.513V192.315H113.062V200.564H141.652V192.315H145.871Z' fill='#F7FBF8' stroke='#C8C8C8')
            path(d='M124.513 200.564H97.7686V231H124.513V200.564Z' fill='#FFFFFF' stroke='#C8C8C8')
            path(d='M164.441 200.564H124.513V231H164.441V200.564Z' fill='white' stroke='#C8C8C8')
            path(d='M181.316 23.9397V32.189H204.106V59.7619H218.984V5.52015H204.106V1H177.361V15.6905H185.573V23.9397H181.316Z' fill='white' stroke='#C8C8C8')
            path(d='M164.177 23.9397V1H137.433V5.52015H122.554V59.7619H137.433V32.189H152.764V23.9397H164.177Z' fill='white' stroke='#C8C8C8')
            path(id="Свободно" class="free" d='M164.177 32.189H137.433V62.6246H164.177V32.189Z' fill='#FFFFFF' stroke='#C8C8C8')
            path(d='M204.106 32.189H177.361V62.6246H204.106V32.189Z' fill='#FFFFFF' stroke='#C8C8C8')
            path(d='M181.315 32.189V23.9397H185.572V15.6905H177.36V1H164.177V23.9397H152.763V32.189H164.177V62.587H177.36V32.189H181.315Z' fill='#F7FBF8' stroke='#C8C8C8')
            path(id="Продано" class="sold" d='M30.2002 200.557L30.2002 173.812H1.00758L1.00758 200.557H30.2002Z' fill='#FFFFFF' stroke='#C8C8C8')
            path(d='M30.1926 200.565H4.95508V228.175H30.1926V200.565Z' fill='#F7FBF8' stroke='#C8C8C8')
            path(d='M50.1564 200.565H30.1924V228.175H50.1564V200.565Z' fill='#F7FBF8' stroke='#C8C8C8')
            path(d='M50.1559 228.137H78.1808V180.601H63.4904V184.97H46.3892V192.918H50.1559V228.137Z' fill='#F7FBF8' stroke='#C8C8C8')
            path(d='M50.1564 192.918H30.1924V200.565H50.1564V192.918Z' fill='#F7FBF8' stroke='#C8C8C8')
            path(d='M38.4793 166.55H30.1924V173.82V192.918H46.3896V184.97H63.4908V180.6V164.027H38.4793V166.55Z' fill='#F7FBF8' stroke='#C8C8C8')
            path(d='M32.2267 141.803V133.29H1V173.82H30.1926V166.551V141.803H32.2267Z' fill='white' stroke='#C8C8C8')
            path(d='M32.2264 133.29V141.803H30.1924V166.551H38.4793V164.027H63.4908V133.29H32.2264Z' fill='white' stroke='#C8C8C8')
            path(id="Свободно" class="free" d='M271.667 33.1166V59.8608H300.86V33.1166H271.667Z' fill='#FFFFFF' stroke='#C8C8C8')
            path(d='M271.644 5.52026H251.68V33.1308H271.644H296.881V5.52026H271.644Z' fill='white' stroke='#C8C8C8')
            path(d='M255.446 40.7397V48.6877H238.383V53.0571H223.692V5.52026H251.68V33.1308H260.23V40.7397H255.446Z' fill='white' stroke='#C8C8C8')
            path(d='M271.644 33.1309H260.23V40.7398H255.446V48.6877H238.383V53.0572V69.631H263.357V67.1073H271.644V59.8751V46.503V33.1309Z' fill='#F7FBF8' stroke='#C8C8C8')
            path(d='M269.609 91.8551V100.368H300.874V59.8374H271.643V67.1073V91.8551H269.609Z' fill='white' stroke='#C8C8C8')
            path(d='M269.609 100.368V91.8547H271.644V67.1069H263.357V69.6307H238.383V100.368H269.609Z' fill='white' stroke='#C8C8C8')
            path(d='M300.874 105.076H238.383V118.448H263.884V131.896H271.644V123.985H283.697V131.896H300.874V105.076Z' fill='white' stroke='#C8C8C8')
            path(d='M263.733 118.486H234.239V159.393H263.733V118.486Z' fill='white' stroke='#C8C8C8')
            path(d='M300.874 131.896H283.698V123.986H271.644V159.393H300.874V131.896Z' fill='white' stroke='#C8C8C8')
            path(d='M300.837 159.394H271.644V200.565H300.837V159.394Z' fill='white' stroke='#C8C8C8')
            path(d='M234.239 173.331V200.564H263.733V205.612H271.643V193.031H263.733V181.618H255.446V173.331H234.239Z' fill='#FFFFFF' stroke='#C8C8C8')
            path(d='M271.644 200.564H300.874V214.351H297.032V228.137H271.644H267.689V214.351H271.644V200.564Z' fill='#F7FBF8' stroke='#C8C8C8')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M234.24 200.564H263.734V205.612H271.643V214.351H267.689V228.137H263.734H238.384V214.765H234.24V200.564Z' fill='#F7FBF8')
            path(d='M263.734 200.564H264.234V200.064H263.734V200.564ZM234.24 200.564V200.064H233.74V200.564H234.24ZM263.734 205.612H263.234V206.112H263.734V205.612ZM271.643 205.612H272.143V205.112H271.643V205.612ZM271.643 214.351V214.851H272.143V214.351H271.643ZM267.689 214.351V213.851H267.189V214.351H267.689ZM267.689 228.137V228.637H268.189V228.137H267.689ZM238.384 228.137H237.884V228.637H238.384V228.137ZM238.384 214.765H238.884V214.265H238.384V214.765ZM234.24 214.765H233.74V215.265H234.24V214.765ZM263.734 200.064H234.24V201.064H263.734V200.064ZM264.234 205.612V200.564H263.234V205.612H264.234ZM271.643 205.112H263.734V206.112H271.643V205.112ZM272.143 214.351V205.612H271.143V214.351H272.143ZM267.689 214.851H271.643V213.851H267.689V214.851ZM268.189 228.137V214.351H267.189V228.137H268.189ZM263.734 228.637H267.689V227.637H263.734V228.637ZM238.384 228.637H263.734V227.637H238.384V228.637ZM237.884 214.765V228.137H238.884V214.765H237.884ZM234.24 215.265H238.384V214.265H234.24V215.265ZM233.74 200.564V214.765H234.74V200.564H233.74Z' fill='#C8C8C8')
            path(d='M263.733 159.394H234.239V173.331H255.446V181.618H263.733V193.031H271.643V159.394V131.896H263.884L263.733 159.394Z' fill='#F7FBF8' stroke='#C8C8C8')
            path(d='M1 128.581H63.491V115.209H37.9899V101.762H30.1926V109.672H18.1389V101.762H1V128.581Z' fill='white' stroke='#C8C8C8')
            path(d='M38.1467 115.165H67.6406V74.258H38.1467V115.165Z' fill='white' stroke='#C8C8C8')
            path(d='M1 101.762H18.1389V109.672H30.1926V74.2642H1V101.762Z' fill='white' stroke='#C8C8C8')
            path(id="Продано" class="sold" d='M1.01588 74.2734H30.2085L30.2085 47.3786H1.01588L1.01588 74.2734Z' fill='#FFFFFF' stroke='#C8C8C8')
            path(d='M38.1026 74.2641H67.6343V60.327H46.3896V52.0401H38.1026V40.6267H30.1924V74.2641V101.762H37.9896L38.1026 74.2641Z' fill='#F7FBF8' stroke='#C8C8C8')
            path(d='M38.1026 28.0456V19.3066H67.6343V33.1308V60.327H46.3896V52.04H38.1026V40.6267H30.1924V28.0456H38.1026Z' fill='white' stroke='#C8C8C8')
            path(d='M30.1926 40.6275V28.0464H38.1029V19.3074H63.265L63.491 18.8931V5.521H38.1029H34.1477H30.1926H4.84212V19.3074H1V33.1316V47.37H30.1926V40.6275Z' fill='white' stroke='#C8C8C8')
          //.description.active
        //end choice__floor
      //end choice__body

      //begin choice__footer
      .choice__footer
        //h3.choice__flat-title Студия
        h3.choice__flat-title 3 комнаты
        .choice__flat-info
          .choice__flat-info-item
            span площадь
            span 40 м <sup>2</sup>
          .choice__flat-info-item
            span Стоимость
            span от 11,2 млн. тг
          a(href="https://dominante.ru/presentation/dominante_81.pdf" target="_blank").choice__flat-info-link
            +svg('pdf')
            span Скачать PDF

        .choice__flat-links
          button.choice__flat-link-btn.btn.popup-open(data-popup="popup-callback") Забронировать
          a(href="#credit").choice__flat-link-question.scroll-btn
            +svg('question')
            span Как купить
      //end choice__footer
    //end choice__left

    //begin choice__right
    .choice__right
    //end choice__right

//begin choice
.choice#choice
  .container
    .choice__header
      h2.choice__title Выбери свою квартиру
      .choice__type-btns
        button.choice__type-btn.btn.active Студия
        button.choice__type-btn.btn 1 ком<span>ната</span><span>.</span>
        button.choice__type-btn.btn 2 ком<span>наты</span><span>.</span>
        button.choice__type-btn.btn 3 ком<span>наты</span><span>.</span>
      //-button.choice__interactive-btn.btn
        +svg('eye')
        span Интерактивный поиск

    .choice__slider-wrap
      .choice__slider#choice__slider
        +slide
        +slide
//end choice