//begin credit
.credit
  .container
    h2.credit__title Условия покупки

    //begin credit__slider
    .credit__slider#credit__slider
      .credit__slide.credit-slide
        .credit-slide__title 100% оплата
        .credit-slide__label самая выгодная цена
        ul.credit-slide__list
          li.credit-slide__item При приобретении квартиры со <strong>100%</strong> оплатой стоимость <strong>280 000 ₸/м2</strong>
        .credit-slide__btn.btn Оставить заявку

      .credit__slide.credit-slide
        .credit-slide__title Рассрочка 50/50
        ul.credit-slide__list
          li.credit-slide__item Первоначальный взнос - <strong>от 50%</strong>
          li.credit-slide__item Остаток оплачивается после ввода в эксплуатацию комплекса
        .credit-slide__btn.btn Оставить заявку

      .credit__slide.credit-slide
        .credit-slide__title Рассрочка 30/30/40
        .credit-slide__label от 100 000 тг/мес
        ul.credit-slide__list
          li.credit-slide__item Первоначальный взнос - <strong>30%</strong>
          li.credit-slide__item Оплата <strong>30%</strong> производится до сдачи в эксплуатацию
          li.credit-slide__item После завершения строительства комплекса оплачиваются оставшиеся <strong>40%</strong>
        .credit-slide__btn.btn Оставить заявку

      .credit__slide.credit-slide
        .credit-slide__title Рассрочка 20/80
        ul.credit-slide__list
          li.credit-slide__item Первоначальный взнос - <strong>от 20%</strong>
          li.credit-slide__item Остаток <strong>80%</strong> оплачивается после ввода в эксплуатацию комплекса
        .credit-slide__btn.btn Оставить заявку

      .credit__slide.credit-slide
        .credit-slide__title Рассрочка 50/50
        ul.credit-slide__list
          li.credit-slide__item Первоначальный взнос - <strong>от 50%</strong>
          li.credit-slide__item Остаток оплачивается после ввода в эксплуатацию комплекса
        .credit-slide__btn.btn Оставить заявку



      .credit__slide.credit-slide
        .credit-slide__title 100% оплата
        .credit-slide__label самая выгодная цена
        ul.credit-slide__list
          li.credit-slide__item При приобретении квартиры со 100% оплатой стоимость 280 000 ₸/м2
        .credit-slide__btn.btn Оставить заявку

      .credit__slide.credit-slide
        .credit-slide__title 100% оплата
        .credit-slide__label самая выгодная цена
        ul.credit-slide__list
          li.credit-slide__item При приобретении квартиры со 100% оплатой стоимость 280 000 ₸/м2
        .credit-slide__btn.btn Оставить заявку

      .credit__slide.credit-slide
        .credit-slide__title 100% оплата
        .credit-slide__label самая выгодная цена
        ul.credit-slide__list
          li.credit-slide__item При приобретении квартиры со 100% оплатой стоимость 280 000 ₸/м2
        .credit-slide__btn.btn Оставить заявку

    //end credit__slider
//end credit