//begin filter
.filter
  .container
    h2.filter__title Жизнь по твоим правилам
    .filter__subtitle
      +svg('star')
      span Каждый житель ЖК Атмосфера пользуется огромным количеством преимуществ

    .filter__text
      .filter__text-left
        p
          strong Забудьте о пробках, когда едите на работу или по делам. Удобная транспортная развязка позволит вам в считанные минуты доехать до любой точки Алматы
      .filter__text-right
        p На территории комплекса вы сможете увидеть магазины, салон красоты, прачечную и химчистку, кондитерскую и многое другое. Не будем забывать о строящемся в 2 минутах ходьбы парка на 6,7 га, ТЦ Апорт и строительного магазина Леруа Мерлен.

    .filter__clocks
      .filter__clock
        .filter__clock-icon
          img(src="assets/img/clock-01.svg" alt="clock")
        .filter__clock-descr
          .filter__clock-title 10 минут
          .filter__clock-text Парк Горького
      .filter__clock
        .filter__clock-icon
          img(src="assets/img/clock-02.svg" alt="clock")
        .filter__clock-descr
          .filter__clock-title 15 минут
          .filter__clock-text ТЦ Достык Plaza
      .filter__clock
        .filter__clock-icon
          img(src="assets/img/clock-03.svg" alt="clock")
        .filter__clock-descr
          .filter__clock-title 17 минут
          .filter__clock-text Коктюбе
      .filter__clock
        .filter__clock-icon
          img(src="assets/img/clock-04.svg" alt="clock")
        .filter__clock-descr
          .filter__clock-title 20 минут
          .filter__clock-text ГАТОБ (Панфилова)

    .filter__btns
      .filter__btn.filter__btn--01.btn.active Все
      .filter__btn.filter__btn--02.btn Образование
      .filter__btn.filter__btn--03.btn Медицина
      .filter__btn.filter__btn--04.btn Торговля
      .filter__btn.filter__btn--05.btn Развлечения
    #filter-map
//end footer