//begin gallery
.gallery
  .container
    h2.gallery__title Эмоции рядом с домом

    .gallery__text
      .gallery__text-left
        p ЖК «Атмосфера» — современный семейный жилой комплекс ECOкомфорт, расположенный в 2 минутах ходьбы от FoRest парка, который завершит строительство в 2022 году. Парк у дома – это больше чем просто зелень и чистый воздух. Это возможность быстро сменить урбанистические декорации на живописные пейзажи, сменить ритм, расслабиться и восстановить силы.
      .gallery__text-right
        p
          strong В комплексе будет создано обилие зон отдыха, прогулочные аллеи с цветами и кустарниками, установлены яркие и безопасные детские, игровые и спортивные площадки с турниками и специализированным оборудованием

    //begin gallery-item
    .gallery-item.gallery__item.gallery__item--01
      .gallery-item__slider
        .gallery-item__slide(style="background-image: url('assets/img/gallery-01.jpg')")
        .gallery-item__slide(style="background-image: url('assets/img/gallery-01.jpg')")
      .gallery-item__descr
        .gallery-item__text Парк на 6,7 га подарит вам чистый отдых, возможность прекрасно проводить время - тропинки среди деревьев для прогулки, беговые дорожки, живописные лавочки и много развлекательных зон для игр детей и отдыха взрослых
    //end gallery-item

    .gallery__middle
      .gallery__middle-left
        //begin gallery-item
        .gallery-item.gallery__item.gallery__item--02
          .gallery-item__slider
            .gallery-item__slide(style="background-image: url('assets/img/gallery-02.jpg')")
            .gallery-item__slide(style="background-image: url('assets/img/gallery-02.jpg')")
          .gallery-item__descr
            h3.gallery-item__title Уютное лобби
            .gallery-item__text В дизайне лобби использованы природные материалы. Это позволит вам чувствовать себя еще уютнее в ваших домах.
        //end gallery-item

      .gallery__middle-right
        //begin gallery-item
        .gallery-item.gallery__item.gallery__item--03
          .gallery-item__slider
            .gallery-item__slide(style="background-image: url('assets/img/gallery-03.jpg')")
            .gallery-item__slide(style="background-image: url('assets/img/gallery-03.jpg')")
          .gallery-item__descr
            h3.gallery-item__title Благоустроенные зеленые дворы
            .gallery-item__text Закрытый и безопасный двор станет любимым местом для отдыха, игры и занятий спортом. Выходя из дома вас будут окружать деревья и красивый ландшафт, а не машины.
        //end gallery-item

        //begin gallery-item
        .gallery-item.gallery__item.gallery__item--04
          .gallery-item__slider
            .gallery-item__slide(style="background-image: url('assets/img/gallery-04.jpg')")
            .gallery-item__slide(style="background-image: url('assets/img/gallery-04.jpg')")
        //end gallery-item

    //begin gallery-item
    .gallery-item.gallery__item.gallery__item--05
      .gallery-item__slider
        .gallery-item__slide(style="background-image: url('assets/img/gallery-05.jpg')")
        .gallery-item__slide(style="background-image: url('assets/img/gallery-05.jpg')")
      .gallery-item__descr
        h3.gallery-item__title Природные материалы
        .gallery-item__text Игровые, спортивные и рекреационные зоны будут декорированы природными материалами, а малые архитектурные формы и арт-объекты продолжат экотематику.
    //end gallery-item
//end gallery