//begin header
header.header
  .container.container--350
    .header__logo
      img(src="assets/img/logo-sm.svg" alt="logo")
    .header__burger


    //begin header__menu
    nav.header__menu.menu
      ul.menu__list
        li.menu__item
          a(href="#about").menu__link.scroll-btn О комплексе
        li.menu__item
          a(href="#choice").menu__link.scroll-btn Квартиры
        li.menu__item
          a(href="#target").menu__link.scroll-btn Коммерческие помещения
        li.menu__item
          a(href="#credit").menu__link.scroll-btn Как купить
        li.menu__item
          a(href="#footer").menu__link.scroll-btn Контакты
    //end header__menu

    //begin header__right
    .header__right
      .header__phone
        a(href="tel:+77000077070").header__phone-text +7 700 007 70 70
        a(href='https://api.whatsapp.com/send?phone=77000077070', rel='nofollow', target='_blank').header__phone-whatsapp
          +svg('whatsapp')

      .header__btn.btn.popup-open(data-popup="popup-callback") Оставить заявку

      .header__sale.popup-open(data-popup="popup-sale")
        .header__sale-icon
          +svg('sale')
        .header__sale-text Отдел продаж
    //end header__right
//end header