//begin info
.info
  .info__bg
  .container
    .info__header.info-header
      .info-header__num 13.2
      .info-header__text гектар территории
    .info__body.info-body
      .info-body__item
        .info-body__descr территория застройки
        .info-body__marker
          .info-body__num.info-body__num--01 2.2
          .info-body__text гектара
      .info-body__item
        .info-body__marker
          .info-body__num.info-body__num--02 11
          .info-body__text гектаров
        .info-body__descr благоустройство + парк
    .info__footer.info-footer
      .info-footer__item
        .info-footer__num 4 этажа
        .info-footer__row
          .info-footer__icon
            +svg('house')
          .info-footer__text дома клубного типа
      .info-footer__item
        .info-footer__num >500 мест
        .info-footer__row
          .info-footer__icon
            +svg('parking')
          .info-footer__text парковка для всех
      .info-footer__item
        .info-footer__num до 3 метров
        .info-footer__row
          .info-footer__icon
            +svg('height')
          .info-footer__text высота потолка
//end info