//begin trees
.trees
  .container
    h2.trees__title При покупке квартиры мы исполним еще одну вашу мечту.<br>Мы подарим вам дерево, которое вы сами посадите
    .trees__icon
      +svg('tree')
    .trees__descr Прекрасно исполнить наследние - дом, ребенок и конечно же посадить дерево!<br>Вы сможете выбрать ваше любимое дерево
    //begin trees__list
    ul.trees__list
      li.trees__item(data-tree="01")
        .trees__img
          img(src="assets/img/tree-01.jpg" alt="picture")
        .trees__name Береза
      li.trees__item(data-tree="02")
        .trees__img
          img(src="assets/img/tree-02.jpg" alt="picture")
        .trees__name Липа
      li.trees__item(data-tree="03")
        .trees__img
          img(src="assets/img/tree-03.jpg" alt="picture")
        .trees__name Клен
      li.trees__item(data-tree="04")
        .trees__img
          img(src="assets/img/tree-04.jpg" alt="picture")
        .trees__name Рябина
      li.trees__item(data-tree="05")
        .trees__img
          img(src="assets/img/tree-05.jpg" alt="picture")
        .trees__name Орех
      li.trees__item(data-tree="06")
        .trees__img
          img(src="assets/img/tree-06.jpg" alt="picture")
        .trees__name Каштан
    //end trees__list

  //begin trees__popups
  .trees__popup#trees__popup-01
    .trees__popup-close
    p Береза достигает 25 м в высоту. Корень у него толстый и массивный.
    p Ветки формируют густую и объемную крону.
  .trees__popup#trees__popup-02
    .trees__popup-close
    p Липа достигает 25 м в высоту. Корень у него толстый и массивный.
    p Ветки формируют густую и объемную крону.
  .trees__popup#trees__popup-03
    .trees__popup-close
    p Клен достигает 25 м в высоту. Корень у него толстый и массивный.
    p Ветки формируют густую и объемную крону.
  .trees__popup#trees__popup-04
    .trees__popup-close
    p Рябина достигает 25 м в высоту. Корень у него толстый и массивный.
    p Ветки формируют густую и объемную крону.
  .trees__popup#trees__popup-05
    .trees__popup-close
    p Грецкий орех достигает 25 м в высоту. Корень у него толстый и массивный.
    p Ветки формируют густую и объемную крону.
  .trees__popup#trees__popup-06
    .trees__popup-close
    p Каштан достигает 25 м в высоту. Корень у него толстый и массивный.
    p Ветки формируют густую и объемную крону.
  //end trees__popups
//end trees
