*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  color: #141414;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0 0 10px 0;
}

p {
  margin: 0 0 10px 0;

  strong {
    font-weight: 600;
  }
}

a {
  text-decoration: none;
  color: $link;
}

ol,
ul {
  li {
    padding: 0;
  }
}

//ul {
//  li {
//    // путь к кастомной картинке пункта ul
//    // list-style-image: url('../img/ul.png');
//  }
//}
//
////кастомные пункты списка с цифрами
//ol {
//  // list-style: none;
//  // @include counter(li);
//  li::before {
//    // color: $brand;
//  }
//}

input,
textarea,
select,
button {
  border-radius: 0 !important;
  outline: none;
}

//input {
//  padding: 3px 10px 5px 10px;
//  color: $text;
//  border: 1px solid $text;
//
//  @include placeholder-color($text);
//}

textarea {
  resize: none;
}

input.error,
textarea.error {
  border-color: #ed1b24 !important;
  background: #fbd1d3 !important;
}

svg {
  display: block;
  overflow: visible;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  //свойство для плавной прокрутки на яблоках

  -webkit-overflow-scrolling: touch;
  @include max(1023) {
    //свойство для исправления бага 100vh для мобильных
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
  }

  &.no-scroll {
    overflow: hidden;
  }
}

.main {
  flex-grow: 1;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
}

.container--350 {
  max-width: 1920px;
  padding: 0 30px 0 350px;
}

.btn {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 5px 25px;
  cursor: pointer;
  user-select: none;
  transition: all $transition;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
  border: 2px solid #4a7755;
  border-radius: 25px !important;
  background-color: #4a7755;
  box-shadow: none;

  &:hover {
    color: #4a7755;
    background-color: transparent;
  }
}
