extends ../_template

block variables
  - var title       = 'Атмосфера'
  - var description = 'Атмосфера'

block content
  .main-wrap.no-js
    include ../sections/aside

    //begin content
    main.main
      include ../sections/top
      include ../sections/about
      include ../sections/info
      include ../sections/filter
      include ../sections/choice
      include ../sections/trees
      include ../sections/credit
      include ../sections/footer
    //end content

    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAdGbaaf94NCuCkoH98Ry12HA59U0eTqIA')
    include ../sections/scripts